configuration {
	modi: "window,run,drun,ssh";
	lines: 8;
	columns: 2;
	terminal: "kitty";
	ssh-command: "{terminal} -e {ssh-client} pi@{host} -p 8022";
	matching: "fuzzy";
	dpi: 144;

	//case-sensitive: true;
	show-icons: true;
}

@theme "flush"
